{% extends 'base.html.twig' %}

{% block title %}Episode{% endblock %}

{% block body %}
    <h1>Episode</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ episode.id }}</td>
        </tr>
        <tr>
            <th>Title</th>
            <td>{{ episode.title }}</td>
        </tr>
        <tr>
            <th>Number</th>
            <td>{{ episode.number }}</td>
        </tr>
        <tr>
            <th>Synopsis</th>
            <td>{{ episode.synopsis }}</td>
        </tr>
        </tbody>
    </table>

    <a href="{{ path('episode_index') }}">back to list</a>

    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('episode_edit', {'slug': episode.slug}) }}">edit</a>
        {{ include('episode/_delete_form.html.twig') }}
    {% endif %}

    {% if user is not null %}
        <div class="container-fluid" style="background-color: #dcdcdc73">
            <h2>Add a comment :</h2>
            {{ form_start(form) }}
            <div class="my-custom-class-for-errors">
                {{ form_errors(form) }}
            </div>

            <div class="row">
                <div class="col">
                    {{ form_row(form.comment) }}
                </div>
                <div class="col"
                {{ form_row(form.rate) }}
            </div>
            <button class="btn">{{ button_label|default('Add') }}</button>
            {{ form_end(form) }}
        </div>
    {% endif %}

    <div class="mt-5 container-fluid" style="background-color: #dcdcdc73">
        <h2>Comments Post :</h2>
        <ul>
            {% for comment in episode.comments|sort %}
                {% if is_granted('ROLE_SUBSCRIBERAUTHOR') %}
                    <li>{{ comment.comment }}</li>
                    {{ include('comment/_delete_form.html.twig') }}
                {% else %}
                    <li>{{ comment.comment }}</li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
{% endblock %}
